<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Webcontrol</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    <script type="text/javascript">
      TESTING = true;
    </script>

    <script type="text/javascript" src="/lib/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/lib/js/handlebars-1.0.0.js"></script>
    <script type="text/javascript" src="/lib/js/ember-1.0.0.js"></script>
    <script type="text/javascript" src="/lib/js/qunit-1.12.0.js"></script>
    
    <script type="text/javascript" src="/test/application.js"></script>

    <% _.each(files, function(filepath) { %>
    <script type="text/javascript" src="<%= filepath %>"></script>
    <% }); %>
    
  </body>
</html>
