Flask==0.10.1
Flask-RESTful==0.2.5
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
-e git+https://github.com/chirpradio/chirpradio-machine@8be165dfcdd74b7db8138b1e154f6e576495bdcd#egg=chirp-dev
itsdangerous==0.23
mutagen==1.16
nose==1.3.0
pycrypto==2.6.1
simplejson==3.3.1
