<div class="tabbable tabs-left">
  {{render nav}}
  <div class="span9">
    {{outlet}}
  </div>
  <div class="span3">
  {{#if showWhitelist}}
  {{render whitelist}}
  {{/if}}
  {{render messages}}
  </div>
</div>
