<h3>Instructions</h1>
<ol id="instructions">
  <li>
    <p>Carefully proofread the album information. If an error occurs, the album will be highlighted in red and an X will appear next to the album title. Click the X to move the album from the dropbox to the needs fixing folder. Albums with errors must be removed to proceed.</p>
  </li>
  <li>
    <p>This step will import the albums in the dropbox into the Chirp Library. It may take a while to run. If any albums produce errors, they should be removed by pressing the X. Albums with errors must be removed to continue.</p>
  </li>
  <li>
    <p>This step will create a file named new-collection.nml in the Traktor root directory. At this point Traktor can be switched over to the new collection whereby you shut down Traktor, rename new-collection.nml to collection.nml and restart Traktor</p>
  </li>
  <li>
    <p>This step will upload the artist, album and track info to the DJ Database.</p>
  </li>
</ol>
<!--Preload font library-->
<i style="visibility:hidden;" class="icon-spinner icon-spin"></i>
