<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Webcontrol</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='img/favicon.ico') }}">
  </head>
  <body>

  {% raw %}
 
    <script type="text/x-handlebars">
      <div class="tabbable tabs-left">
        {{partial nav}}
        <div class="span9">
          {{outlet}}
        </div>
        <div class="span3">
        {{#if whitelist}}
        {{render whitelist}}
        {{/if}}
        {{render messages}}
        </div>
      </div>
    </script>
    
    <script type="text/x-handlebars" data-template-name="_nav">
        <ul class="nav nav-tabs">
          <li class="nav-header"><a href="/">Importer</a></li>
          <li>1. Scan Dropbox for Tracks {{view App.RouteStatus controllerBinding="controllers.dropbox"}}</li>
          <li>2. Import Tracks {{view App.RouteStatus controllerBinding="controllers.import"}}</li>
          <li>3. Generate Traktor File {{view App.RouteStatus controllerBinding="controllers.generate"}}</li>
          <li>4. Push Tracks to DJ Database {{view App.RouteStatus controllerBinding="controllers.push"}}</li>
          {{#if disabled}}
          <li><button class="btn" disabled>Next Step</button>
          {{else}}
          <li><button class="btn" {{action next}}>Next Step</button>
          {{/if}}
        </ul>
    </script>
    
    <script type="text/x-handlebars" data-template-name="landing">
    <h3>Instructions</h1>
    <ol>
      <li><p>
      This step will show the albums in the dropbox. Carefully proofread the album information. Artist, album and track names can be edited by double clicking on them. Artist names that are not already in the music library will be highlighted in yellow. You 
      should use the search bar on the right to make sure the artist's name is spelled correctly. If an error occurs, the album will be highlighted in red and an X will appear next to the album title. Click the X to move the album from the dropbox to the 
      needs fixing folder. Albums with errors must be removed to proceed.
      </p></li>
      
      <li><p>
      This step will import the albums in the dropbox into the Chirp Library. It may take a while to run. If any albums produce errors, they should be removed by pressing the X. Albums with errors must be removed to continue.
      </p></li>

      <li><p>This step will create a file named new-collection.nml in the Traktor root directory.. At this point Traktor can be switched over to the new collection whereby you shut down Traktor, rename new-collection.nml to collection.nml and restart Traktor</p></li>
      
      <li><p>
      This step will upload the artist, album and track info to the DJ Database.
      </p></li>
    </ol>
    </script>
    
    <script type="text/x-handlebars" data-template-name="success">
    <h1>Good Work!</h1>
    </script>

    <script type="text/x-handlebars" data-template-name="messages">
    <ul id="messages">
    {{#each controller}}
      {{#if success}}
      <li class="success-message">{{message}}</li>
      {{/if}}
      {{#if warning}}
      <li class="warning-message">{{message}}</li>
      {{/if}}
      {{#if error}}
      <li class="error-message">{{message}}</li>
      {{/if}}
    {{/each}}
    </ul>
    </script>

    <script type="text/x-handlebars" data-template-name="albums">
    {{#if loaded}}
    <div class="tab-content">
      <table class="table">
      {{#each controller}}
        
        {{#if error}}
        <tr class="err album" {{bindAttr title=message}}>
          <td class="arror"><i class="icon-arrow-right" {{action toggle this}}></i></td>
          <td class="album-title title">{{title}}</td>
          <td class="artist">{{artist}}</td>
          {{# if path}}
          <td id="remove" class="move" {{action move this}}>✕{{view App.Inserted}}</td>
          {{/if}}
        </tr>
        {{/if}}
        
        {{#if warning}}
        <tr class="warning album" {{bindAttr title=message}}>
          {{#if isOpen}} 
          <td class="arrow"><i class="icon-arrow-down" {{action toggle this}}></i></td>
          {{else}}
          <td class="arrow"><i class="icon-arrow-right" {{action toggle this}}></i></td>
          {{/if}}

          <td class="album-title title">{{view App.EditView editBinding=title}}</td>
          {{#if isComp}}
          <td class="artist">{{artist}}</td>
          {{else}}
          <td class="artist">{{view App.EditView editBinding=artist}}</td>
          {{/if}}
          <td class="end">{{view App.Inserted}}</td>
        </tr>

          {{#if isOpen}} 
        <tr class="tracks">{{view App.AlbumView tracksBinding=tracks isCompBinding=isComp artistBinding=artist}}</tr>
          {{/if}}
        {{/if}}
        
        {{#if success}}
        <tr class="album">
          {{#if isOpen}} 
          <td class="arrow"><i class="icon-arrow-down" {{action toggle this}}></i></td>
          {{else}}
          <td class="arrow"><i class="icon-arrow-right" {{action toggle this}}></i></td>
          {{/if}}

          <td class="album-title title">{{view App.EditView editBinding=title}}</td>
          {{#if isComp}}
          <td class="artist">{{artist}}</td>
          {{else}}
          <td class="artist">{{view App.EditView editBinding=artist}}</td>
          {{/if}}
          <td class="end"></td>
        </tr>

          {{#if isOpen}} 
        <tr class="tracks">{{view App.AlbumView tracksBinding=tracks isCompBinding=isComp artistBinding=artist}}</tr>
          {{/if}}
        {{/if}}
      
      {{/each}}
      </table>
    </div>
    {{/if}}
    </script>
   
    <script type="text/x-handlebars" data-template-name="album">
      <table class="table">
        {{#each tracks}}
          <tr class="track">
            <td class="number">{{number}}</td>
            <td class="title">{{view App.EditView editBinding=title}}</td>
            {{#if view.isComp}}
            <td class="artist">{{view App.EditView editBinding=trackArtist}}</td>
            {{else}}
            <td class="artist">{{view.artist}}</td>
            {{/if}}
            <td class="end"></td>
          </tr>
        {{/each}}
      </table>
    </script>
    
    <script type="text/x-handlebars" data-template-name="editing">
    {{#if view.isEditing}}
      {{view App.EditField valueBinding="view.edit"}}
    {{else}}
      {{view.edit}}
    {{/if}}
    </script>
    
    <script type="text/x-handlebars" data-template-name="whitelist">
    <div class="artist-search">
    {{input valueBinding="searchWord" placeholder="Type to search the artist list"}}
    {{#if isSearching}}
      {{#each name in displayContent}}
        <div>{{name.name}}</div>
      {{/each}}
    {{/if}}
    </div>
    </script>

  {% endraw %}

    <script src="{{ url_for('static', filename='js/lib/jquery-1.9.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/handlebars-1.0.0-rc.4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/ember-1.0.0-rc.5.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/albums.js') }}"></script>
    <script src="{{ url_for('static', filename='js/message.js') }}"></script>
  
  </body>
</html>
